.make-westrada {
    height: 150px;
    overflow-y: scroll;
}

.make-solicitud {
    height: 300px;
    overflow-y: scroll;
}

.contant {
    margin: 18px 0px -10px 0px !important;
}

.fecha {
    margin: 18px 0px -25px 0px !important;
}