<div layout="row" layout-sm="column" layout-xs="column" class="full-height">

    <div layout-margin flex>
        <div class="module-title">
            <strong>Bienvenidos al Módulo <span >{{ vm.titleModule }}</span></strong>
        </div>

        <md-divider></md-divider>

        <div class="module-text">
            {{vm.descriptionModule}}
        </div>
        <div class="row">
            <div class=" col-xs-6 col-sm-6 col-md-6">
                <img ng-src="{{vm.myImg1}}" alt="..." class="img-circle img-responsive">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <img ng-src="{{vm.myImg2}}" alt="..." class="img-circle img-responsive">
            </div>
        </div>

    </div>

    <div class="content-form" layout-margin flex>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Iniciar sesión</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" name="login" role="form">
                    <div class="form-group" ng-class="{'has-error' : !login.$pristine && login.rol.$error.required}">
                        <label for="sesion" class="col-lg-4 control-label">¿Iniciar como?</label>
                        <div class="col-lg-8">
                            <select class="form-control" name="rol" ng-model="vm.loginForm.rol" ng-change="vm.roles()" required>
                                <option value="">Seleccione una Opcion</option>   
                                <option value="ESTUDIANTE">Estudiante</option>
                                <option value="DOCENTE">Docente</option>
                                <option value="ADMINISTRADOR">Administrador</option>
                            </select>
                            <span  class="control-label" ng-show="!login.$pristine && login.rol.$error.required">Debe selecionar una opcion</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : !login.$pristine && login.email.$error.required , 'has-warning' : !login.$pristine && login.email.$error.email }">
                        <label for="codigo" class="col-lg-2 control-label"> <span class="text-left">Código</span> </label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" name="email" ng-model="vm.loginForm.email" placeholder="Código" required>
                            <span  class="control-label" ng-show="!login.$pristine && login.email.$error.required">El Email es obligatorio</span>
                            <span  class="control-label" ng-show="!login.$pristine && login.email.$error.email">Introduzca una direccion de correo valida</span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : !login.$pristine && login.password.$error.required}">
                        <label for="contraseña" class="col-lg-2 control-label"> <span class="text-left">Contraseña</span></label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="password" ng-model="vm.loginForm.password" placeholder="Contraseña" required>
                            <span class="control-label" ng-show="!login.$pristine && login.password.$error.required">La contraseña es obligatoria </span>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <div class="checkbox">
                                <label>
									<input type="checkbox"> No cerrar sesión
								</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <md-button ng-click="vm.login()" ng-disabled="!login.$valid" class="md-raised md-primary md-default" aria-label="Entrar">
                                <md-icon md-font-icon="zmdi zmdi-check"></md-icon>
                                Entrar &nbsp;&nbsp;
                            </md-button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>