<md-content class="padded-content-page md-padding">
    <p class="md-subhead">
        Debe selecionar una de las solicitudes predeterminadas o selecionar la opcion "Solicitud personalizada".
    </p>
    <p>
        En las opciones predeterminadas debera adjuntar obligatoriamente un documento de solicitud en formato .pdf, .jpg o .png
    </p>

    <md-card>
        <md-card-content>
            <form name="solicitud" novalidate>

                <md-input-container class="md-block">
                    <label for="rol">Solicitud</label>
                    <md-select ng-change="vm.change()" placeholder="selecionar solicitud" name="solicitud" ng-model="vm.solicitud" data-md-container-class="selectdemoSelectHeader" required>

                        <md-select-header class="demo-select-header">
                            <input ng-model="vm.filtrar" type="search" placeholder="Buscar solicitud" class="demo-header-searchbox md-text" ng-keydown="vm.onSearchChange($event)">
                        </md-select-header>

                        <md-optgroup label="solicitud">
                            <md-option ng-value="solicitud" ng-repeat="solicitud in vm.solicitudes | filter:vm.filtrar">{{ solicitud }}</md-option>
                        </md-optgroup>

                    </md-select>
                    <div ng-messages="solicitud.solicitud.$error" md-auto-hide="false" ng-show="solicitud.solicitud.$touched">
                        <div ng-message="required">
                            Debe Especificar una solicitud.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" ng-if="vm.validacion">
                    <label for="nombres">Nombre de la Asignatura</label>
                    <input id="asignatura" name="asignatura" type="text" ng-model="vm.asignatura" required/>
                    
                    <div ng-messages="solicitud.asignatura.$error" md-auto-hide="false" ng-show="solicitud.asignatura.$touched">
                        <div ng-message="required">
                            Debe ingresar una asignatura
                        </div>
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block" ng-if="vm.personalizar">
                    <label for="nombres">Titulo de la solicitud</label>
                    <input id="personalizada" name="personalizada" type="text" ng-model="vm.personalizada" required/>
                    
                    <div ng-messages="solicitud.personalizada.$error" md-auto-hide="false" ng-show="solicitud.personalizada.$touched">
                        <div ng-message="required">
                            Debe ingresar una solicitud
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Descripción</label>
                    <textarea ng-model="vm.descripcion" rows="3"></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <div layout="row" layout-align="space-around center">
                        <md-button class="md-primary md-raised md-fab" ngf-select="vm.upload($file)"  ngf-accept="'image/*,application/pdf'" ngf-max-size="2MB" aria-label="upload">
                            <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
                        </md-button>
                        <md-tooltip ng-if="!vm.file">Selecionar Archivo</md-tooltip>
                        <md-tooltip ng-if="vm.file">{{ vm.file.name }}</md-tooltip>
                        
                    </div>
                </md-input-container>

                <div class="button-toolbar" layout="row" layout-align="end center">
                    <md-button class="md-raised md-hue-1 md-primary" ng-click="vm.enviar()" ng-disabled="vm.disabledForm(solicitud.$valid)">Enviar Solicitud</md-button>
                </div>

            </form>
        </md-card-content>
    </md-card>
</md-content>
